<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-image: url("https://static.vecteezy.com/system/resources/thumbnails/022/575/456/small_2x/chamomile-flower-field-camomile-in-the-nature-field-of-camomiles-at-sunny-day-at-nature-camomile-daisy-flowers-in-summer-day-chamomile-flowers-field-wide-background-in-sun-light-generative-ai-photo.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
    .container{
        text-align:  center;
        margin-top: 10%;
    }

</style>
<body>
    <div class="container">
        <h3>Sign in</h3>
        <p>
            <input type="text" placeholder="Enter Your Email">
        </p>
        <p>
            <input type="password" placeholder="Enter Your Password">
        </p>
     <p>
        <button>sumbit</button>
     </p>
    </div>
    
</body>
</html>