<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-image: url("https://rurutek.com/jio/assets/img/login-animate.gif");
        background-repeat: no-repeat;
        background-size: 50%;

    }
    .container{
        text-align: center;
        margin-top: 15%;
        padding-left: 20%;
      

    }
</style>
<body>
    <form method="post">
    <div class="container">
        <h3>Login</h3>
        <p>
            <input type="text" placeholder="Enter Email" name="email">
        </p>
        <p>
            <input type="password" placeholder="Enter Paasword" name="password">
        </p>
        <p>
            <button>Sumbit</button>
        </p>
        <p>
            <a href="#">Forgot Password</a>
        </p>
    </div>
</form>
</body>
</html>