<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-image: url("https://rukminim2.flixcart.com/image/850/1000/kxxl9jk0/poster/b/g/l/small-1tnnqyns-leaves-light-green-background-wallpaper-poster-vp-original-imaga9xskywbqaxv.jpeg?q=90&crop=false");
        background-position: no-repeat;
        background-size: cover;
    }
.container{  
text-align: center;
margin-top: 10%;
}
</style>
<body>
    <div class="container">
       <form method="post">
        <h1 style="color: beige;">GET OTP</h1>
        <p>
        <input type="text" placeholder="Enter otp" name="otp">
    </p>
    <p>
        <button>Verify OTP</button>
    </p>
       </form>
    </div>

</body>
</html>