<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url("https://i.makeagif.com/media/1-12-2021/izAv5U.gif");
            background-repeat: none;
            background-size: cover;
        }
        .conatiner{
            text-align: center;
            margin-top: 15%;
            
        }
       
    </style>
</head>
<body> 
    <form method="post">
    <div class="conatiner">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK6hCfna4N73ww1D-zUkKshzxacKrcDiGXyQ&s">
    <p>
        <input style="padding: 0.5% 2%;" type="text" placeholder="Enter Email" name="email" >
    </p>
    <p>
        <input style="padding: 0.5% 2%;" type="password" placeholder="Enter Password" name="password">
    </p>
    <p>
        <a href="">Forgot Password</a>
    </p>
    <p>
        <button style="padding: 0.5% 2%;">Sumbit</button>
    </p>
</div>
</form>
</body>
</html>