<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-image: url("https://wallpapers.com/images/hd/nature-green-background-1920-x-1080-s7qol525zqhc9rzr.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }
    .container{
        text-align:  center;
        margin-top: 10%;
    }

</style>
<body>
    <div class="container">
        <h3>User Sign in</h3>
        <p>
            <input type="text" placeholder="Enter Your Email">
        </p>
        <p>
            <input type="password" placeholder="Enter Your Password">
        </p>
     <p>
        <button>sumbit</button>
     </p>
    </div>
    
</body>
</html>