<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-image: url("https://static.vecteezy.com/system/resources/thumbnails/049/855/274/small_2x/nature-background-high-resolution-wallpaper-for-a-serene-and-stunning-view-photo.jpg");
        background-position: no-repeat;
        background-size: cover;
    }
.container{  
text-align: center;
margin-top: 10%;
}
</style>
<body>
    <div class="container">
       <form method="post">
        <h1 style="color: beige;">GET OTP</h1>
        <p>
        <input type="text" placeholder="Enter otp" name="otp">
    </p>
    <p>
        <button>Verify OTP</button>
    </p>
       </form>
    </div>

</body>
</html>