<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
      
        background-image: url("https://cdn.dribbble.com/users/1117770/screenshots/2626626/welcome.gif");
        background-repeat: no-repeat;
        background-size: 50%;

    }

    .container {

        margin-top: 10%;
        margin-left: 50%;
        



    }

    .button {

        padding: 1%3%1%3%;
        
    }

    .button:hover {
        background-color:#a65c26;
    }
    
</style>

<body>
  
        <div class="container">
            <h1 style="color:#a65c26"> To FlaskStore</h1>
           <img  src="https://img.pikbest.com/wp/202346/website-online-shopping-in-madagascar-a-captivating-3d-render-for-social-media-and-websites_9732576.jpg!w700wp">
            
          
           <a href="{{url_for('page')}}"><button class="button" style="margin-left:35%;"><h2>Clickit</h2></button></a>
        </div>
        
</body>

</html>